<manifest xmlns:android="http://schemas.android.com/apk/res/android">
 <uses-permission android:name="android.permission.INTERNET"/>
 <uses-permission android:name="android.permission.RECORD_AUDIO"/>
 <uses-permission android:name="android.permission.POST_NOTIFICATIONS"/>
 <queries>
  <intent><action android:name="android.provider.Telephony.SMS_DELIVER"/></intent>
 </queries>
 <application android:label="@string/app_name" android:icon="@drawable/ic_launcher" android:theme="@style/AppTheme" android:allowBackup="false" android:usesCleartextTraffic="false" android:supportsRtl="true">
  <activity android:name=".MainActivity" android:exported="true" android:launchMode="singleTop" android:windowSoftInputMode="adjustResize">
   <intent-filter><action android:name="android.intent.action.MAIN"/><category android:name="android.intent.category.LAUNCHER"/></intent-filter>
  </activity>
  <activity android:name=".QuickVoiceActivity" android:label="Com! · Pi 快捷语音" android:exported="true" android:launchMode="singleTask" android:excludeFromRecents="true" android:theme="@style/QuickVoiceTheme" android:windowSoftInputMode="adjustResize">
   <intent-filter><action android:name="android.intent.action.ASSIST"/><category android:name="android.intent.category.DEFAULT"/></intent-filter>
  </activity>
  <service android:name=".PersonalNotificationListener" android:label="Com! Personal Agent 通知读取" android:permission="android.permission.BIND_NOTIFICATION_LISTENER_SERVICE" android:exported="true">
   <intent-filter><action android:name="android.service.notification.NotificationListenerService"/></intent-filter>
  </service>
 </application>
</manifest>
